.about__section {
  padding-top: 70px;
  padding-bottom: 70px;
}
.about__block {
  display: flex;
}
.about__context {
  padding-right: 100px;
  @media screen and (max-width: 992px) {
    padding-right: 60px;
  }
  @media screen and (max-width: 767px) {
    padding-right: 50px;
  }
}
.about__title {
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
  /* identical to box height, or 167% */

  color: #000000;
  @media screen and (max-width: 992px) {
    font-size: 36px;
    line-height: 80px;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 5px;
    font-size: 30px;
    line-height: 80px;
  }
}
.about__text {
  margin-bottom: 35px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;

  color: #8f95a5;
  @media screen and (max-width: 992px) {
    font-size: 16px;
    line-height: 24px;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 21px;
  }
}

.about__list {
  display: flex;
  justify-content: space-between;
}
.about__item {
  text-align: center;
}
.about__item-title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
  /* identical to box height, or 167% */

  color: #2a3246;
  @media screen and (max-width: 992px) {
    font-size: 30px;
    line-height: 80px;
  }
  @media screen and (max-width: 767px) {
    font-size: 22px;
    line-height: 80px;
  }
}
.about__item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  color: #8f95a5;
  @media screen and (max-width: 992px) {
    font-size: 16px;
    line-height: 24px;
  }
  @media screen and (max-width: 767px) {
    font-size: 13px;
    line-height: 19px;
  }
}

.about__image > img {
  @media screen and (max-width: 992px) {
    height: 336px;
  }
}
