.contact__section {
  padding-top: 70px;
  padding-bottom: 70px;
}
.contact__image {
  @media screen and (max-width: 992px) {
    height: 280px;
  }
}
.contact__image > img {
  width: 100%;
}
.contact__block {
  display: flex;
}
.contact__context {
  margin-left: 100px;
}
.contact__title {
  margin-bottom: 35px;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
  /* identical to box height, or 167% */

  color: #000000;
  @media screen and (max-width: 992px) {
    margin-bottom: 5px;
    font-size: 36px;
    line-height: 80px;
  }
}
.contact__text {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;

  color: #8f95a5;
  @media screen and (max-width: 992px) {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
  }
}
.contact__form {
  display: flex;
  justify-content: space-between;
}
.contact__input {
  width: 450px;
  border: 1px solid #8f95a5;
  box-sizing: border-box;
  border-radius: 10px;
  padding-left: 30px;
  padding-top: 28px;
  padding-bottom: 28px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #8f95a5;
  @media screen and (max-width: 992px) {
    width: 323px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 14px;
    font-size: 14px;
    line-height: 21px;
  }
}
.contact__button {
  padding: 25px 80px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  color: #ffffff;

  cursor: pointer;

  border: none;
  background: #263238;
  border-radius: 10px;
  @media screen and (max-width: 992px) {
    padding: 20px 56px;
    font-size: 16px;
    line-height: 24px;
  }
}
