.pricing__section {
  padding-top: 70px;
  padding-bottom: 70px;
  @media screen and (max-width: 767px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.pricing__img {
  height: 350px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  @media screen and (max-width: 992px) {
    height: 250px;
  }
  @media screen and (max-width: 767px) {
    height: 190px;
  }
  @media screen and (max-width: 575px) {
    height: 100%;
    margin-bottom: 20px;
  }
}
.pricing__title {
  text-align: center;
  margin-bottom: 60px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;

  color: #000000;

  @media screen and (max-width: 992px) {
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 80px;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 80px;
  }
  @media screen and (max-width: 575px) {
    margin-bottom: 20px;
  }
  @media screen and (max-width: 320px) {
    font-size: 24px;
    line-height: 80px;
  }
}
.pricing__list {
  display: flex;
  justify-content: center;
  margin: -7px;
  @media screen and (max-width: 575px) {
    flex-direction: column;
    margin: 0;
    align-items: center;
  }
  @media screen and (max-width: 320px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.picing__item {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 435px;
  margin: 7px;
  @media screen and (max-width: 992px) {
    max-width: 320px;
  }
  @media screen and (max-width: 575px) {
    align-items: center;
  }
}
.picing__item-title {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 48px;

  color: #263238;
  @media screen and (max-width: 992px) {
    font-size: 22px;
    line-height: 34px;
  }
  @media screen and (max-width: 767px) {
    font-size: 20px;
    line-height: 28px;
  }
  @media screen and (max-width: 320px) {
    font-size: 18px;
    line-height: 28px;
  }
}
.picing__item-text {
  margin-bottom: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  flex: 1 1 auto;

  color: #8f95a5;
  @media screen and (max-width: 992px) {
    font-size: 16px;
    line-height: 24px;
  }
  @media screen and (max-width: 767px) {
    font-size: 14px;
    line-height: 21px;
  }
  @media screen and (max-width: 575px) {
    text-align: center;
  }
  @media screen and (max-width: 320px) {
    font-size: 13px;
    line-height: 20px;
  }
}
.picing__item-price {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;

  color: #263238;
  @media screen and (max-width: 992px) {
    font-size: 24px;
    line-height: 36px;
  }
  @media screen and (max-width: 767px) {
    font-size: 22px;
    line-height: 33px;
  }
  @media screen and (max-width: 320px) {
    font-size: 18px;
    line-height: 27px;
  }
}
.picing__item-currency {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;

  color: #546269;
  @media screen and (max-width: 992px) {
    font-size: 16px;
    line-height: 24px;
  }
  @media screen and (max-width: 320px) {
    font-size: 14px;
    line-height: 24px;
  }
}
.pricing__item-container {
  max-width: 240px;
  padding: 5px 10px;

  background-color: #eeeeee;
  border-radius: 5px;

  @media screen and (max-width: 992px) {
    max-width: 205px;
  }
  @media screen and (max-width: 320px) {
    max-width: 170px;
  }
}
